<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
          <div class="about-img">
            <img src="./imgs/hotel.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>Welcome to Hoteru</h3>
          <p class="fst-italic">
            <strong> hotel offers many rooms and suites with amenities </strong>
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> Complimentary Wi-Fi, plush bedding, and flat-screen TVs. </li>
            <li><i class="bi bi-check-circle"></i> Our staff is available 24/7 to assist you.</li>
            <li><i class="bi bi-check-circle"></i> we offer amenities such as a fitness center, pool, and on-site dining options.</li>
          </ul>
          <p>
          <strong>Book your stay with us today for a memorable experience.
          </p>
        </div>
      </div>

    </div>
  </section>
  <!-- End About Section -->

   <!-- ======= Why Us Section ======= -->
   <section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2><strong>Why Us</strong></h2>
        <p>Why Choose Our Hotel</p>
        <!--<p>Book your stay with us today and experience the ultimate in luxury and comfort. We can't wait to welcome you to our hotel!</p>-->
      </div>

      <div class="row">

        <div class="col-lg-4">
          <div class="box" data-aos="zoom-in" data-aos-delay="100">
            <span>01</span>
            <h4></h4>
            <p>Welcome to our hotel, where luxury and comfort meet. 
                Nestled in the heart of [location], our hotel offers a prime location 
                for business and leisure travelers. Whether you're here for a weekend getaway 
                or a corporate event, our hotel has everything you need for a memorable stay.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="200">
            <span>02</span>
            <h4></h4>
            <p>At our hotel, we pride ourselves on providing exceptional customer service. 
                Our friendly staff is available 24/7 to assist you with any needs you may have. 
                Our luxurious rooms and suites are designed with your comfort in mind, with plush 
                bedding, high-quality amenities, and stunning views.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="300">
            <span>03</span>
            <h4></h4>
            <p>To make your stay even more enjoyable, we offer a variety of amenities such 
                as a fitness center, pool, and on-site dining options. Plus, our hotel is 
                committed to providing a safe and clean environment for our guests, with 
                regular sanitization and social distancing measures in place.</p>
          </div>
        </div>

      </div>

    </div>
  </section>
  <!-- End Why Us Section -->