<div id="addrespo" class="row col-sm-12 col-md-12">
    <div class="col-sm-4 col-md-4"></div>
    <div class="col-sm-4 col-md-4">
        <div class="form">
        <form name="myForm" class="modal-content animate">

            <div class="imgcontainer">
                <img src="./imgs/hotel-icon.png" alt="Avatar" class="avatar">
            </div>

            <div class="container">
                <div class="form-group">
                    <label for="username" id="username"><b>Username</b></label>
                    <input data-ng-model="username" type="text" ng-pattern="/^[a-zA-Z0-9_\.]{5,}$/" class="form-control" placeholder="Enter Username"
                           name="username" required>
                           <div class="text-center text-danger" ng-show="myForm.username.$dirty && myForm.username.$error.username"></div>
                           <div class="text-center text-danger" ng-show="myForm.username.$dirty && myForm.username.$error.pattern">Username n'est pas valide.</div>
   
                    <label for="email"><b>Email</b></label>
                    <input data-ng-model="email" type="email" ng-pattern="/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/" class="form-control" placeholder="Enter Email"
                           name="email" required>
                        <div class="text-center text-danger" ng-show="myForm.email.$dirty && myForm.email.$error.email"></div>
                        <div class="text-center text-danger" ng-show="myForm.email.$dirty && myForm.email.$error.pattern">L'adresse email n'est pas valide "@gmail.com".</div>

                    <label for="psw"><b>Password</b></label>
                    <input data-ng-model="password" type="{{ showPassword ? 'text' : 'password' }}" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}$/" class="form-control" placeholder="Enter Password"
                           name="psw" required>
                           <div class="text-center text-danger" ng-show="myForm.psw.$error.pattern">
                            The password must be strong</div>
                    <label for="confirm_password"><b>Confirm Password</b></label>
                            <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" placeholder="Confirm The Password" name="confirm_password" data-ng-model="confirm_password" required>
                            <div class="text-center text-danger" ng-show="myForm.confirm_password.$error.required && myForm.confirm_password.$dirty">Please confirm the password</div>
                            <div class="text-center text-danger" ng-show="password !== confirm_password && myForm.confirm_password.$dirty">Passwords do not match</div>
                                
                    <button class="transparent-button" ng-class="{'transparent-button': myForm.$invalid}" 
                    ng-disabled="myForm.$invalid" data-ng-Click="AddRespo()">Add Receptionist</button>
                    <button type="button" ui-sref="home()" class="cancelbtn">Cancel</button>

                </div>
            </div>

        </form>
    </div>

    </div>
</div>
<script>

</script>