<!-- <div class="row col-sm-12 col-md-12" ng-app="myApp" ng-controller="myController">
    <div class="col-sm-4 col-md-4"></div>
    <div class="col-sm-4 col-md-4">
        <div class="form">
            <form name="myForm" class="modal-content animate">
                <label for="confirmationCode"><b>Confirmation Code</b></label>
                <input ng-model="confirmationCode" type="text" class="form-control" placeholder="Enter Confirmation Code" name="confirmCode" required>
                <button type="button" ng-click="verifyCode()">Verify Code</button>
                <button type="button" ng-click="goBack()" class="cancelbtn">Cancel</button>
            </form>
        </div>
    </div>
</div> -->

<div class="row col-sm-12 col-md-12">
    <div class="col-sm-4 col-md-4"></div>
    <div class="col-sm-4 col-md-4">
        <div class="form">
            <form class="modal-content animate">
                <div class="imgcontainer">
                    <img src="./imgs/hotel-icon.png" alt="Avatar" class="avatar">
                </div>
                <div class="container">
                    <div class="form-group">
                        <label for="confirmationCode"><b>Confirmation Code</b></label>
                        <input ng-model="confirmationCode" type="text" class="form-control" placeholder="Enter Confirmation Code"
                               name="confirmationCode" required>
                        <button type="button" data-ng-click="verifyAndSignUp()">Verify Code</button>
                        <button type="button" ng-click="goBack()" class="cancelbtn">Cancel</button>
                    </div>
                </div>
                <br/><br/>
            </form>
        </div>
    </div>
</div>




<!-- <div class="row  col-sm-12 col-md-12">
    <div class="col-sm-4 col-md-4"></div>
    <div class="col-sm-4 col-md-4">
      <div class="form">
        <form class="modal-content animate">
  
            <div class="imgcontainer">
                <img src="./imgs/hotel-icon.png" alt="Avatar" class="avatar">
            </div>
  
            <div class="container">
                <div class="form-group">
  
                    <label for="confirmationCode" id="confirmationCode"><b>Confirmation Code</b></label>
                    <input data-ng-model="confirmationCode" type="text" class="form-control" placeholder="Enter Confirmation Code"
                           name="confirmCode" required>
                    
                    <button type="button" data-ng-Click="verifyCode() , ">Verify Code</button>
                    <button type="button" ui-sref="goBack()" class="cancelbtn">Cancel</button>
  
                </div>
            </div>
            <br/><br/>
        </form>
      </div>
    </div>
  </div> -->
