<!-- ======= Rooms Section ======= -->
<section id="rooms" class="rooms ">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Rooms</h2>
      <p>Check Our Rooms</p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="rooms-flters">
            <li data-filter=".rooms-item" ng-click="filterRooms('.rooms-item')" class="filter-active">All</li>
            <li data-filter=".filter-Simple" ng-click="filterRooms('.filter-Simple')">Single</li>
            <li data-filter=".filter-Accessible" ng-click="filterRooms('.filter-accessible')">Accessible</li>
            <li data-filter=".filter-Double" ng-click="filterRooms('.filter-Double')">Double</li>
            <li data-filter=".filter-Twin" ng-click="filterRooms('.filter-Twin')">Twin</li>
            <li data-filter=".filter-Triple" ng-click="filterRooms('.filter-Triple')">Triple</li>
            <li data-filter=".filter-Suite" ng-click="filterRooms('.filter-suite')">Suite</li>
          </ul>
        </div>
      </div>
    </div>

    <!--chambres simple-->
    <div class="row rooms-container *" data-aos="fade-up" data-aos-delay="200">

      <div class="col-lg-6 rooms-item filter-Simple">
        <img src="./imgs/chambers/simple/simple1.jpg" class="rooms-img" alt="">
        <div class="rooms-content">
          <a href="#">Simple room</a><span>500 DH</span>
        </div>
        <div class="rooms-ingredients">
          Room designed to accommodate one person. 
          It is equipped with a comfortable bed, storage space and basic amenities to ensure a pleasant stay.
        </div>
      </div>

      <div class="col-lg-6 rooms-item filter-Simple *">
          <img src="./imgs/chambers/simple/simple2.jpg" class="rooms-img" alt="">
          <div class="rooms-content">
            <a href="#">Simple room</a><span>550 DH</span>
          </div>
          <div class="rooms-ingredients">
            Room designed to accommodate one person. 
            It is equipped with a comfortable bed, storage space and basic amenities to ensure a pleasant stay.
          </div>
        </div>

        <!--Chambre Accessible-->
        <div class="col-lg-6 rooms-item filter-accessible">
          <img src="./imgs/chambers/accessible/accessible1.jpg" class="rooms-img" alt="">
          <div class="rooms-content">
            <a href="#">Accessible Room</a><span>800 DH</span>
          </div>
          <div class="rooms-ingredients">
            Room is specially equipped for people with reduced mobility. It is designed to provide easy and convenient access for people in wheelchairs or with other specific needs.
             It is equipped with handrails, grab bars in the bathroom and other amenities to ensure a comfortable and safe stay.
          </div>
        </div>

        <div class="col-lg-6 rooms-item filter-accessible">
          <img src="./imgs/chambers/accessible/accessible2.jpg" class="rooms-img" alt="">
          <div class="rooms-content">
            <a href="#">Accessible Room</a><span>670 DH</span>
          </div>
          <div class="rooms-ingredients">
            Room is specially equipped for people with reduced mobility. It is designed to provide easy and convenient access for people in wheelchairs or with other specific needs.
            It is equipped with handrails, grab bars in the bathroom and other amenities to ensure a comfortable and safe stay.
          </div>
        </div>

        <!--chambres Double-->
        <div class="col-lg-6 rooms-item filter-Double">
          <img src="./imgs/chambers/double/Double1.jpg" class="rooms-img" alt="">
          <div class="rooms-content">
            <a href="#">Double room</a><span>700 DH</span>
          </div>
          <div class="rooms-ingredients">
            Room that can accommodate two people. It is usually equipped with a large bed or two twin beds, depending on the preferences of the customers. 
            It also includes storage space and additional amenities to ensure optimal comfort.
          </div>
        </div>

        <div class="col-lg-6 rooms-item filter-Double">
          <img src="./imgs/chambers/double/Double2.jpg" class="rooms-img" alt="">
          <div class="rooms-content">
            <a href="#">Double room</a><span>640 DH</span>
          </div>
          <div class="rooms-ingredients">
            Room that can accommodate two people. It is usually equipped with a large bed or two twin beds, depending on the preferences of the customers. 
            It also includes storage space and additional amenities to ensure optimal comfort.
          </div>
        </div>

        <div class="col-lg-6 rooms-item filter-Double">
          <img src="./imgs/chambers/double/Double3.jpg" class="rooms-img" alt="">
          <div class="rooms-content">
            <a href="#">Double room</a><span>760 DH</span>
          </div>
          <div class="rooms-ingredients">
            Room that can accommodate two people. It is usually equipped with a large bed or two twin beds, depending on the preferences of the customers. 
            It also includes storage space and additional amenities to ensure optimal comfort.
          </div>
        </div>

        <!--chambres Twin-->
        <div class="col-lg-6 rooms-item filter-Twin">
          <img src="./imgs/chambers/Twin/twin1.jpg" class="rooms-img" alt="">
          <div class="rooms-content">
            <a href="#">Twin room</a><span>730 DH</span>
          </div>
          <div class="rooms-ingredients">
            Room is similar to a double room, but it is specifically equipped with two twin beds. 
            This is suitable for people who prefer to have their own separate bed while sharing the same room with a travel companion.
          </div>
        </div>

        <div class="col-lg-6 rooms-item filter-Twin">
          <img src="./imgs/chambers/Twin/twin2.jpg" class="rooms-img" alt="">
          <div class="rooms-content">
            <a href="#">Twin room</a><span>660 DH</span>
          </div>
          <div class="rooms-ingredients">
            Room is similar to a double room, but it is specifically equipped with two twin beds. 
            This is suitable for people who prefer to have their own separate bed while sharing the same room with a travel companion.
          </div>
        </div>

        <div class="col-lg-6 rooms-item filter-Twin">
          <img src="./imgs/chambers/Twin/twin3.jpg" class="rooms-img" alt="">
          <div class="rooms-content">
            <a href="#">Twin room</a><span>690 DH</span>
          </div>
          <div class="rooms-ingredients">
            Room is similar to a double room, but it is specifically equipped with two twin beds. 
            This is suitable for people who prefer to have their own separate bed while sharing the same room with a travel companion.
          </div>
        </div>

        <!--chambres Triple-->

        <div class="col-lg-6 rooms-item filter-Triple">
          <img src="./imgs/chambers/triple/triple1.jpg" class="rooms-img" alt="">
          <div class="rooms-content">
            <a href="#">Triple room</a><span>840 DH</span>
          </div>
          <div class="rooms-ingredients">
            Room is a more spacious room that can accommodate three people. It is generally equipped with three separate beds or a large bed and an additional bed.
             This option is suitable for families or groups of friends who wish to share the same room.
          </div>
        </div>
        <div class="col-lg-6 rooms-item filter-Triple">
          <img src="./imgs/chambers/triple/triple2.jpg" class="rooms-img" alt="">
          <div class="rooms-content">
            <a href="#">Triple room</a><span>820 DH</span>
          </div>
          <div class="rooms-ingredients">
            Room is a more spacious room that can accommodate three people. It is generally equipped with three separate beds or a large bed and an additional bed.
            This option is suitable for families or groups of friends who wish to share the same room.
          </div>
        </div>

        <!--chambres suite-->
        <div class="col-lg-6 rooms-item filter-suite">
          <img src="./imgs/chambers/suite/suite1.jpg" class="rooms-img" alt="">
          <div class="rooms-content">
            <a href="#">Suite Room</a><span>950 DH</span>
          </div>
          <div class="rooms-ingredients">
            Suite is a more luxurious and spacious room, often offering a separate living area and bedroom. It can be equipped with additional amenities such as a living room, a kitchenette or a private balcony.
             The suites are ideal for those looking for a more exclusive and comfortable stay.
          </div>
        </div>

        <div class="col-lg-6 rooms-item filter-suite">
          <img src="./imgs/chambers/suite/suite2.jpg" class="rooms-img" alt="">
          <div class="rooms-content">
            <a href="#">Suite Room</a><span>1000 DH</span>
          </div>
          <div class="rooms-ingredients">
            Suite is a more luxurious and spacious room, often offering a separate living area and bedroom. It can be equipped with additional amenities such as a living room, a kitchenette or a private balcony.
            The suites are ideal for those looking for a more exclusive and comfortable stay.
          </div>
        </div>
    </div>

  </div>
</section><!-- End rooms Section -->