<div class="row col-sm-12 col-md-12">
<div class="col-sm-4 col-md-4"></div>
    <div class="col-sm-4 col-md-4">
        <div class="form" >
            <form name="myForm" class="modal-content animate" >

                <div class="imgcontainer">
                    <i class="bi bi-pencil-square updt"></i>
                </div>

                <div class="container" >
                    <div class="form-group">
                        <label for="psw"><b>Old Password</b></label>
                        <input data-ng-model="old_password" type="password" class="form-control" placeholder="Enter the Old Password"
                         name="psw" required>
                    
                   
                         <label for="new_password"><b>New Password</b></label>
                         <input data-ng-model="new_password" type="password" ng-minlength="8" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}$/" class="form-control" placeholder="Enter Password"
                             name="new_password" required>
                         <div class="text-center text-danger" ng-show="myForm.new_password.$dirty && myForm.new_password.$error.pattern">The password must be strong</div>
                         <div class="text-center text-danger" ng-show="myForm.new_password.$dirty && myForm.new_password.$error.minlength">The password must be at least 8 characters long</div>
                         
                    
                        <label for="confirm_password"><b>Confirm Password</b></label>
                        <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password" data-ng-model="confirm_password" required>
                        <div class="text-center text-danger" ng-show="myForm.confirm_password.$error.required && myForm.confirm_password.$dirty">Please confirm your password</div>
                        <div class="text-center text-danger" ng-show="new_password !== confirm_password && myForm.confirm_password.$dirty">Passwords do not match</div>
                        
                        <button type="button" class="transparent-button" ng-class="{'transparent-button': myForm.$invalid}" 
                        ng-disabled="myForm.$invalid" data-ng-Click="updatemypassword()">Update</button>
                        <button type="button" ui-sref="profile()" class="cancelbtn">Cancel</button>

                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
